{% load custom_filters %}
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>Welcome to the Frequently Asked Questions (FAQ) section of our website! Here you will find answers to the most frequently asked questions about our services and products.</p>
    </div>

    <div class="faq-list">
      <ul>
        {% for question in frequently_questions %}
          {% with delay=forloop.counter|mul:'100' %}
          <li data-aos="fade-up" data-aos-delay="{{ delay }}">
          {% endwith %}
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-{{ forloop.counter }}">{{ question.question }}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-{{ forloop.counter }}" class="collapse" data-bs-parent=".faq-list">
              <p>{{ question.answer }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->