<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

          <h1 class="logo me-auto"><a href="index.html">Arsha</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
              <li><a class="nav-link scrollto" href="#team">Team</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
              {% if not user.is_authenticated %}
              <li><a class="nav-link scrollto" href="{% url 'register' %}">Register</a></li>
              {% endif %}
              {% if not user.is_authenticated %}
              <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
              {% endif %}
              {% if user.is_authenticated %}
              <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
              {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

        </div>
      </header>
<!-- End Header -->