{% load static %}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <li data-filter="*" class="filter-active">All</li>
      {% for category in categories %}
        <li data-filter=".filter-{{ category.slug }}">{{ category.name }}</li>
      {% endfor %}
    </ul>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      {% for project in projects %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{ project.category.slug }}">
            <div class="portfolio-img">
                <img src="{{ project.photo.url }}" class="img-fluid" alt="{{ project.name }}">
            </div>
            <div class="portfolio-info">
              <h4>{{ project.name }}</h4>
              <p>{{ project.category.name }}</p>
              <a href="{{ project.photo.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ project.name }}"><i class="bx bx-plus"></i></a>
{#              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>#}
            </div>
          </div>
      {% endfor %}

    </div>

  </div>
</section><!-- End Portfolio Section -->