{% load custom_filters %}
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <p>The services we provide will allow you to focus on the important tasks of your business. Our team of professionals works for your success by providing the best solutions for your project. Contact us today and see for yourself the quality of our services!</p>
    </div>

    <div class="row">
      {% for service in services %}
        {% with delay=forloop.counter|mul:'100' %}
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="{{ delay }}">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a>{{ service.title }}</a></h4>
              <p>{{ service.description }}</p>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
    </div>
  </div>
</section><!-- End Services Section -->