{% load static %}

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Team</h2>
      <p>
          Our team is a well-coordinated team of professionals working together to achieve a common goal. We are
          dedicated to our work and are always ready to take on new challenges. Our efforts are aimed at creating
          innovative solutions and ensuring high quality in all our activities.
      </p>
    </div>

    <div class="row">

      {% for employee in employees %}
          <div class="col-lg-6 mb-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{ employee.photo.url }}" class="img-fluid" alt="{{ employee }}"></div>
              <div class="member-info">
                <h4>{{ employee }}</h4>
                <span>{{ employee.appointment }}</span>
                <p>{{ employee.description }}</p>
                <div class="social">
                  {% if employee.twitter_profile %}
                    <a href="{{ employee.twitter_profile }}" target="_blank"><i class="ri-twitter-fill"></i></a>
                  {% endif %}
                  {% if employee.facebook_profile %}
                    <a href="{{ employee.facebook_profile }}" target="_blank"><i class="ri-facebook-fill"></i></a>
                  {% endif %}
                  {% if employee.instagram_profile %}
                    <a href="{{ employee.instagram_profile }}" target="_blank"><i class="ri-instagram-fill"></i></a>
                  {% endif %}
                  {% if employee.linkedin_profile %}
                    <a href="{{ employee.linkedin_profile }}" target="_blank"> <i class="ri-linkedin-box-fill"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

    </div>

  </div>
</section><!-- End Team Section -->